body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1rem;
}

.header-text {
  text-align: left;
}

header h1 {
  margin: 0;
}

header p {
  margin-top: 0.5rem;
  font-style: italic;
  color: #777;
}

main {
  padding: 2rem;
}

h2 {
  border-bottom: 2px solid #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-media-icons a {
  margin-right: 10px; /* Adds some spacing between the icons */
}

.social-media-icons .fa-linkedin {
  color: #0e76a8; /* LinkedIn Blue */
}

.social-media-icons .fa-github {
  color: #333; /* GitHub Black */
}

.social-media-icons .fa-medium {
  color: #333; /* Medium */
}

.social-media-icons .fa-twitter {
  color: #1da1f2; /* Twitter Blue */
}
